<h1>Đăng nhập</h1>

<div class="login col-md-6 col-md-offset-3">

    <%= form_with url: login_path, scope: :session do |f| %>

        <%= f.email_field :email, class:"form-control", placeholder: "Email" %>

        <%= f.password_field :password, class:"form-control", placeholder: "Mật khẩu" %>

        <%= f.submit "Đăng nhập", class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to "Đăng ký tài khoản?", 'sign-up' %></p>
</div>
