<h3>Chọn ghế </h3>

<div class="row">

    <div class="col-md-7">
        <%= render "form" %>
    </div>
   
    <div class="booking col-md-5 fs-4">

        <div class="seat-select">

            <div>
                <div class="available"></div>
                <span>Có sẵn</span>
            </div>
            <div>
                <div class="sold"></div>
                <span>Đã đặt</span>
            </div>
            <div>
                <div class="selected"></div>
                <span>Chưa đặt</span>
            </div>
        </div>

        <div class="content-booking">
            <div><%= image_tag @showtime.film.display_image if @showtime.film.image.attached? %></div>
            <span>Phim: <%= @showtime.film.name %></span>
            <span>Xuất chiếu: <%= @showtime.in_time %></span>
            <span>Ngày chiếu: <%= @showtime.in_date %></span>
            <span>Giá vé: 50.000đ </span>
            <span>Chổ ngồi: 
                <span class="show-seat"></span> 
            </span>
        </div>
    </div>
</div>