<div class="content col-md-6 col-md-offset-3">
    <div class="box">
        <%= image_tag @booking.showtime.film.display_image if @booking.showtime.film.image.attached? %>
        Tên phim: <%= @booking.showtime.film.name %><br>
        Chổ ngồi: <%= @booking.seat.name %> | <%= @booking.showtime.room.name %><br>
        Xuất chiếu: <%= @booking.showtime.in_time %> - <%= @booking.showtime.in_date %><br>
        <% if logged_in %>
            <%= link_to "Thanh toán", new_booking_payment_path(@booking), class:"btn btn-success" %>
        <% else %>
            <%= link_to "Thanh toán", login_path, class:"btn btn-success" %>
        <% end %>
    </div>
</div>
