<div class="payment col-md-6 col-md-offset-3">
    <div class="box">
        <div class="image">
            <%= image_tag @booking.showtime.film.display_image if @booking.showtime.film.image.attached? %>  
        </div>
        <div class="content">
            <p><span>Tên phim:</span> <%= @booking.showtime.film.name %></p>
            <p><span>Chổ ngồi:</span> <%= @booking.seat.name %> | <%= @booking.showtime.room.name %></p>
            <p><span>Xuất chiếu:</span> <%= @booking.showtime.in_time %> - <%= @booking.showtime.in_date %></p>      
        </div>
    </div>    
    <%= link_to "Thanh toán", new_booking_payment_path(@booking), class:"btn btn-success" %> 
    
</div>
