<h3>Phim mới</h3>

<section class="movie">
    <div class="movie-item">
        <%= render @films %> 
    </div>

    <%= link_to "Xem thêm", pagy_url_for(@pagy, @pagy.next) %>

</section>

<h3>Tin tức</h3>

<section class="news" id="news">
    <div class="conteiner">
        <div class="row">
            <div class="col-md-8 col-sm-12">
            
                <div class="article">
                    <div class="post-item">

                        <div class="post-image">
                            <%= image_tag "blog01.jpg" %>
                        </div>

                        <div class="post-content">
                            <h4>Increase Event Ticket Sales For Film Production With the Right Advertising Strategies</h4>
                            <div class="meta-post">
                                <p>20 Comments</p> 
                                <p>466 View </p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac cursus leo. Nullam dolor nunc, hendrerit non velit id, pharetra viverra elit.</p>
                            
                            <div class="post-bottom">
                                <p>23/7/2022</p>
                                <p class="read-more">Xem thêm</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="article">
                    <div class="post-item">

                        <div class="post-image">
                            <%= image_tag "blog02.jpg" %>
                            <%= image_tag "blog03.jpg" %>
                            <%= image_tag "blog04.jpg" %>
                            <%= image_tag "blog01.jpg" %>
                        </div>

                        <div class="post-content">
                            <h4>Increase Event Ticket Sales For Film Production With the Right Advertising Strategies</h4>
                            <div class="meta-post">
                                <p>20 Comments</p> 
                                <p>466 View </p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac cursus leo. Nullam dolor nunc, hendrerit non velit id, pharetra viverra elit.</p>
                            
                            <div class="post-bottom">
                                <p>23/7/2022</p>
                                <p class="read-more">Xem thêm</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="article">
                    <div class="post-item">

                        <div class="post-image">
                            <%= image_tag "blog03.jpg" %>
                        </div>

                        <div class="post-content">
                            <h4>Increase Event Ticket Sales For Film Production With the Right Advertising Strategies</h4>
                            <div class="meta-post">
                                <p>20 Comments</p> 
                                <p>466 View </p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac cursus leo. Nullam dolor nunc, hendrerit non velit id, pharetra viverra elit.</p>
                            
                            <div class="post-bottom">
                                <p>23/7/2022</p>
                                <p class="read-more">Xem thêm</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="article">
                    <div class="post-item">

                        <div class="post-image">
                            <%= image_tag "blog04.jpg" %>
                        </div>

                        <div class="post-content">
                            <h4>Increase Event Ticket Sales For Film Production With the Right Advertising Strategies</h4>
                            <div class="meta-post">
                                <p>20 Comments</p> 
                                <p>466 View </p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac cursus leo. Nullam dolor nunc, hendrerit non velit id, pharetra viverra elit.</p>
                            
                            <div class="post-bottom">
                                <p>23/7/2022</p>
                                <p class="read-more">Xem thêm</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="paginate text-center">
                  <span><</span>
                  <span>1</span>
                  <span>2</span>
                  <span class="active">3</span>
                  <span>4</span>
                  <span>5</span>
                  <span>></span>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="aside">
                    <div class="widget widget-search">
                        <h2>Tìm kiếm</h2>
                        <input type="search" id="search-box"  name="keywords" placeholder="Nhập để tìm kiếm">
                        <div class="button-search">
                            <h6>Tìm kiếm</h6>
                        </div>
                    </div>
                    <div class="widget widget-post">
                        <h2>Bài viết mới nhất</h2>
                       
                        <div class="post-image">
                            <%= image_tag "post01.jpg" %>
                        </div>

                        <div class="post-content">
                            <h4>Three Ways to Book Sporting Event Tickets</h4>
                            <div class="meta-post">
                                <p>20 Comments</p> 
                                <p>466 View </p>
                            </div>
                        </div>
                    </div>

                    <div class="widget widget-categories">
                        <h2>Danh mục</h2>
     
                        <ul class="list">

                            <li class="list-item">
                                <h6>Xuất chiếu & Vé</h6> 
                                <h6>50</h6>
                            </li>
                            <li class="list-item">
                                <h6>Trailer mới nhất</h6> 
                                <h6>43</h6>
                            </li>
                            <li class="list-item">
                                <h6>Sắp chiếu</h6> 
                                <h6>34</h6>
                            </li>
                            <li class="list-item">
                                <h6>Lịch phát hành</h6> 
                                <h6>11</h6>
                            </li>
                            <li class="list-item">
                                <h6>Các siêu sao</h6> 
                                <h6>23</h6>
                            </li>
                            <li class="list-item">
                                <h6>Phim kinh dị</h6> 
                                <h6>55 </h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<h3>Đánh giá</h3>

<section class="review" id="review">

    <div class="review-item">

        <div class="box">
            <%= image_tag "avt1.png" %>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aperiam dolores et aut sed
            tempore obcaecati velit soluta sit laudantium eaque accusantium architecto autem vel, placeat, fuga
            ducimus iure reprehenderit?</p>
            <h4>Tai lo sờ quít</h4>    
        </div>

        <div class="box">
            <%= image_tag "avt2.png" %>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aperiam dolores et aut sed
            tempore obcaecati velit soluta sit laudantium eaque accusantium architecto autem vel, placeat, fuga
            ducimus iure reprehenderit?</p>
            <h4>Rô nan đô</h4>    
        </div>

        <div class="box">
            <%= image_tag "avt3.png" %>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aperiam dolores et aut sed
            tempore obcaecati velit soluta sit laudantium eaque accusantium architecto autem vel, placeat, fuga
            ducimus iure reprehenderit?</p>
            <h4>John deo</h4>    
        </div>

        <div class="box">
            <%= image_tag "avt4.png" %>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aperiam dolores et aut sed
            tempore obcaecati velit soluta sit laudantium eaque accusantium architecto autem vel, placeat, fuga
            ducimus iure reprehenderit?</p>
            <h4>Méc si</h4> 
        </div>
    </div>
           
</section>

