<h3>Phim</h3>

<div class="detail w-100">
    <div class="box col-12 d-flex justify-content-center">

        <%= image_tag @film.display_image if @film.image.attached? %>

        <div class="description">

            <div class="name">
                <%= @film.name %>
            </div>

            <div class="times">

                <div class="minutes">
                    <%= @film.time %> phút
                </div>

                <div class="years">
                  Năm: <%= @film.year %>
                </div>
            </div>

            <div class="showtimes">
                Xuất chiếu:
                <div class="showtime">
                    <% @film.showtimes.each do |showtime| %>
                        <%= link_to showtime.in_time, new_showtime_booking_path(showtime) %>
                    <% end %>
                </div>
                
            </div>            
        </div>

    </div>

</div>
<% if logged_in && current_user.admin? %>
    <%= link_to "Sửa", edit_film_path(@film) %> |
    <%= link_to "Xóa", @film, method: :delete, data: { confirm: "Xác nhận xóa"} %> | 
    <%= link_to "Tạo xuất chiếu", new_showtime_path %>
<% end %>