<div class="ticket col-md-6 offset-md-3 fs-3">
    <div class="info">
        <h1>Thông tin vé</h1>
    </div>
    <div class="content d-flex justify-content-center align-items-center">
        <div class="ticket_detail">
            <%= @payment.generate_qr_code.html_safe %>
            <p>Mã code: <%= @payment.code %></p>
            <p>Tên phim: <%= @payment.booking.showtime.film.name %></p>
            <p>Xuất chiếu: <%= @payment.booking.showtime.in_time %></p>
            <p>Ngày chiếu: <%= @payment.booking.showtime.in_date %></p>
            <p>Số ghế: <%= @payment.booking.seat.name %> | <%= @payment.booking.seat.room.name %></p>
            <p>Thành tiền: <%= number_with_delimiter(@payment.cash_number) %> đ</p>
        </div>
    </div>

</div>
