<div class="col-md-6 col-md-offset-3">
<h1>Thông tin vé</h1>

    <div class="ticket">
        <div class="ticket__content">
            <%= @svg.html_safe %>
            <p>Mã code: <%= @payment.code %></p>
            <p>Tên phim: <%= @payment.booking.showtime.film.name %></p>
            <p>Xuất chiếu: <%= @payment.booking.showtime.in_time %></p>
            <p>Ngày chiếu: <%= @payment.booking.showtime.in_date %></p>
            <p>Số ghế: <%= @payment.booking.seat.name %> | <%= @payment.booking.seat.room.name %></p>
            <p>Thành tiền: <%= number_with_delimiter(@payment.cash_number) %> đ</p>
        </div>
    </div>

</div>
       
