<div>
    <h1><%= @room.name %></h1>
    <h4 class="text-center">The room has <%= pluralize @room.seats.count, "seat" %></h4>
    <h4 class="text-center">The film has <%= pluralize @room.showtimes.count, "showtime" %></h4>
</div>
<%= link_to "Create Seat", new_room_seat_path(@room) %> <br>
<div>
    Lịch chiếu:
    <br/>
    <% @room.showtimes.each do |showtime| %>
        <%= link_to showtime.show_at, showtime_path(showtime) %> |
    <% end %>
</div>
<br/>
Chỗ ngồi:
<div class="grid-container">
    <% @room.seats.each do |seat| %>
        <div class="grid-item">
            <%= link_to seat.name %><br>
                <%= link_to "Sửa", edit_room_seat_path(seat.room, seat) %>
                | <%= link_to "Xóa", [seat.room, seat], method: :delete, data: {confirm: "Xác nhận xóa"} %>
            </div>
    <% end %>
</div>