<div class="box">
    <%= image_tag showtime.film.display_image if showtime.film.image.attached? %>
    <%= showtime.film.name %>

    | Lịch chiếu: <%= showtime.in_date %> | Xuất chiếu: <%= showtime.in_time %>

    | <%= link_to showtime.room.name, room_path(showtime.room) %>

</div>   