<div class="box">
    <%= image_tag showtime.film.display_image if showtime.film.image.attached? %>
    <%= showtime.film.name %>
    <br>
    Xuất chiếu: <%= showtime.in_time %> - <%= showtime.in_date %>

    <%= link_to showtime.room.name, room_path(showtime.room) %>
    <br>
    <%= link_to "Sửa", edit_showtime_path(showtime) %> |
    <%= link_to "Xóa", showtime, method: :delete, data: {confirm: "Xác nhận xóa"} %> |
</div>   