<div class="content">
    <div class="box">
        <%= image_tag @showtime.cinema.display_image if @showtime.cinema.image.attached? %>

        <%= @showtime.cinema.name %>
        <%= @showtime.cinema.year %>
        <%= @showtime.cinema.time %>
        | Xuat chieu: <%= @showtime.time.strftime('%I: %M %p')  %> 
        | Rap: <%= @showtime.room_id %>
    </div>
</div>
Cho ngoi:


    <%= @showtime.room.name %>
    <%= @showtime.room.seats.name %>

    <%= @room.seats.name %>

