<h4><%= @cinema.name %></h4>

<div class="detail">
    <div class="box col-6">

        <%= image_tag @cinema.display_image if @cinema.image.attached? %>

        <div class="description">

            <div class="name">
                <%= @cinema.name %>
            </div>

            <div class="times">

                <div class="minutes">
                    <%= @cinema.time %> phút
                </div>

                <div class="years">
                  Năm: <%= @cinema.year %>
                </div>
            </div>

            <div class="showtimes">
            Lich chieu:
                <div class="showtime">
                    <% @cinema.showtimes.each do |showtime| %>
                        <%= showtime.in_date %>
                    <% end %>
                </div>   
            Xuất chiếu:

                <div class="showtime">
                    <% @cinema.showtimes.each do |showtime| %>
                        <%= link_to showtime.in_time, room_seats_path(showtime) %>
                    <% end %>
                </div>   
            </div>
        </div> 

    </div> 

</div>

<%= link_to "Edit", edit_cinema_path(@cinema) %>
<%= link_to "Delete", @cinema, method: :delete, data: { confirm: "You are sure"} %>

