
<header class="header-active fixed-top">

  <div class="header d-flex justify-content-between align-items-center">

    <div class="logo pt-3">
      <%= link_to root_path do %>
        <%= image_tag "galaxy-logo.png", class:"pb-3 w-100" %>
      <% end %>
    </div>

    <div class="search">
      <form action="/search" class="search-form">
      <input type="search" id="search-box" name="q" placeholder="Tìm phim...">
        <label for="search-box" class="fas fa-search"></label>
      </form>
    </div>
  
    <ul class="login d-flex justify-content-between align-items-center m-0 p-0">
      <i class="fas fa-bars" id="menu-btn"></i>

      <% if logged_in %>
        <li class="name-login d-flex justify-content-between align-items-center">
          <a class="header-name fs-3"><%= @current_user.name %></a>
          <%= link_to "Thoát", logout_path, method: :delete, class:"fs-3" %>
        </li>
      <% else %>
        <li><%= link_to "Đăng nhập", login_path, class:"login-text fs-3" %></li>
        <li><%= link_to "" , login_path, class:"fas fa-user" %></li>
      <% end %>
    </ul>

  </div>

  <div class="navbar justify-content-center">
    <ul class="nav me-0 mb-0">
      <li><%= link_to "Trang chủ", '/' , class:"active me-5 fs-3" %></li>
      <li><%= link_to "Phim", films_path, class:"me-5 fs-3" %></li>
      <li><%= link_to "Tin tức", '#news', class:"me-5 fs-3" %></li>
      <li><%= link_to "Đánh giá", '#review', class:"me-5 fs-3" %></li>
      <li><%= link_to "Hổ trợ", '#', class:"me-5 fs-3" %></li>
      <li><%= link_to "Mua vé", '/titket', class:"me-5 fs-3" %></li>
    </ul>

  </div>

</header>
