
<header class="header-active">

  <div class="header">

    <div class="logo">
      <%= image_tag "galaxy-logo.png" %>
    </div>

    <div class="search">
      <input type="search" id="search-box"  name="keywords" placeholder="Tìm tên phim...">
      <label for="search-box"></label>
    </div>

    <ul class="login">
      <% if logged_in %>
        <li><a class="header-name"><%= @current_user.name %> | </a></li>
        <li><%= link_to "Thoát", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Đăng nhập", login_path %></li>
      <% end %>
    </ul>

  </div>


  <div class="navbar">

    <ul>
      <li><%= link_to "Home", '/' , class:"active" %></li>
      <li><%= link_to "Phim", films_path %></li>
      <li><%= link_to "Tin tức", '#news' %></li>
      <li><%= link_to "Review", '#review' %></li>
      <li><%= link_to "Hổ trợ", '#' %></li>
      <li><%= link_to "Mua vé", '/titket'  %></li>
    </ul>

  </div>

</header>
