<!DOCTYPE html>
<html>
  <head>
    <title>Cinema App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render 'layouts/header' %>
    
    <%= render 'layouts/slider' %>

    <div class="container">

      <% flash.each do |message_type, message| %>
        <div class="alert-<%= message_type %>">
          <div id="toats">         
            <div class="toats toats--success">
              <div class="toats__icon">
                <i class="fa-solid fa-circle-check"></i>
              </div>
              <div class="toats__body">
                <p class="toats__title">Thông báo!</p>
                <p class="toats__msg"><%= message %></p>
              </div>
              <div class="toats__close">
                <i class="fa-regular fa-circle-xmark"></i>
              </div>
            </div>
          </div>     
        </div>
      <% end %>
      <%= yield %>

    </div>
    <%= render 'layouts/footer' %>

  </body>

</html>
