<!DOCTYPE html>
<html>
  <head>
    <title>Cinema App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render 'layouts/header' %>
    
    <%= render 'layouts/slider' %>

    <div class="container">

      <% flash.each do |message_type, message| %>
        <div class="fs-4 alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>

    </div>
    <%= render 'layouts/footer' %>

  </body>

</html>
